[auth.generic_oauth]
login_attribute_path=preferred_username
enabled = true
allow_sign_up = true
team_ids =
allowed_organizations =
name = IAM
client_id = "{{ client_id }}"

client_secret = "{{ client_secret }}"

scopes = openid profile email
auth_url = {{ monitoring_iam_url }}/authorize
token_url = {{ monitoring_iam_url }}/token
api_url = {{ monitoring_iam_url }}/userinfo

role_attribute_path = sub=='{{ monitoring_iam_sub }}' && 'Admin' || contains(groups[*], '{{ monitoring_iam_admin_groups }}') && 'Editor' || 'Viewer'
[security]
cookie_secure=true

[server]
domain = {{ monitoring_server_ip }}
protocol = "https"
http_port = {{ service_grafana_port }}
cert_file = /usr/local/share/dodasts/certs/grafana/hostcert.pem
cert_key = /usr/local/share/dodasts/certs/grafana/hostcert.key
